// mixin
%text {
	font-size: 0.9rem;
	line-height: 1.7em;
}

%titles {
	margin-top: 0;
	text-transform: uppercase;
	font-weight: 700;
}

body {
	margin: 0;
	height: 100vh;
	font-family: "Montserrat";
}

ul {
	list-style-type: none;
	padding: 0;
}

.container {
	height: 100vh;

	display: grid;
	grid-template-rows: 1fr 3fr .5fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

section {
	@extend %text;
	padding: 2em;
	//overflow-y: scroll;

	h3 {
		@extend %titles;
		color: #009ADA;
	}

	@media (min-width: 320px) and (max-width: 768px) {
		padding: 1em;
	}
}

.card {
	@extend %text;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;

	padding: 2em;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.09);

	h3 {
		font-size: 2rem;
		margin-top: 15px;
		margin-right: 20px;
	}

	.code-number, .description, .description-pt {
		& span {
			font-weight: 700;
			color: #95afc0;
		}
	}

	@media (min-width: 320px) and (max-width: 768px) {
		padding: 1.3em;

		.code-number {
			min-width: 80px;
		}
	}

}

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	grid-area: header;
	background: #009ADA;
	padding: 2em;
	color: #fff;

	h1 {
		@extend %titles;
		font-size: 2rem;
		margin-bottom: 0;
	}

	p {
		@extend %text;
	}

	input[type="text"] {
		display: block;
		margin: 10px;
		padding: 1.5rem;
		width: 50%;
		font-family: inherit;
		font-size: 1.3rem;
		font-weight: inherit;
		line-height: 1.4;
		border: none;
		border-radius: 0.4rem;
		transition: box-shadow 300ms;

		@media (min-width: 320px) and (max-width: 768px) {
			width: 100%;
		}
	}
}

footer {
	@extend %text;
	text-align: center;
	grid-area: footer;
	padding: 1em;

	p {
		margin: 0;
	}
}
